@model RecaudaSoft.ViewModels.FiltroReporteEstadoCarteras

@{
    ViewBag.Title = "Index";
}

<h2>Generar Reporte de Estado de Carteras</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Filtros del Reporte</legend>

        <div class="editor-label">
            Acreedor
        </div>
        <div class="editor-field">
            @Html.DropDownList("idAcreedor", "Seleccione")
        </div>

        <div class="editor-label">
            Cartera
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCartera", "Seleccione")
        </div>

        <p>
            <input type="submit" value="Generar" />
        </p>
    </fieldset>
}